<li>
  <%= form_with model: [block.page, block], data: { controller: "form" } do |form| %>
    <%= form.fields_for :blockable do |blockable_form| %>
      <%= render partial: "blocks/editable/#{block.blockable_type.underscore}",
        locals: {
          form: blockable_form, base_css: "w-full field-sizing resize-none focus:outline-0",
          data: {
            controller: "resize",
            blocks_target: "field",
            navigation_target: "field",
            action: "
              resize#now
              form#submit
              keydown.enter->blocks#create:prevent
              keydown.up->navigation#up
              keydown.right->navigation#right
              keydown.down->navigation#down
              keydown.left->navigation#left
            "
          }
        }
      %>
    <% end %>
  <% end %>
</li>
